*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* COLORS  */



#sidebar {
    background: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: top;
    background-color: #12283e;
}




