*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


#sidebar {
    background: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: top;
    background-color: #12283e;
}

.student-boolean {
    background-color: #1b72e8;
}

.badge-blue {
    background-color: #165bba;
}

