*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

ul {
    list-style-type: none;
}

/* UTILITY  */

:root {
    --color1: #12283e;
    --color2: #1b72e8;
    --color3: #165bba;
}


#sidebar {
    background: url(../img/sidebar-bg.png);
    background-size: cover;
    background-repeat: top;
    background-color: var(--color1);
}

.student-boolean {
    background-color: var(--color2);
}

.badge-blue {
    background-color: var(--color3);
}

.classes {
    font-size: 13px;
}

.classes-1 {
    font-size: 14px;
}

#sidebar li:hover a {
    background-color: rgba(128, 128, 128, 0.5);
}

/* MEDIA QUERY */

@media screen and (max-width: 768px){
    .fa-bell {
        margin-left: 30px;
    }
    
}

@media screen and (max-width: 450px){
    .fa-bell {
        margin-left: 30px;
    }
    
}
